.Container {
  display: flex;
  margin: 24px;
  gap: 24px;
}

.List {
  display: inline-flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ListInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.LinkInfo {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #191d1e;
  &:hover {
    color: rgb(49, 97, 231);
  }
}

/* Button {
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  border: 2px solid hsl(193, 74%, 7%);
  color: #27515c;
  font-weight: 600;
  font-size: 20px;

  &:hover {
    color: tomato;
    border: 3px solid tomato;
  } */
