/* Header.module.css */
.header {
  background-color: #00bcd461;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.linkActive {
  color: rgb(2, 35, 80);
  font-weight: 700;
}
